<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]

  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

  RewriteEngine On
  RewriteCond %{HTTPS} !on
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

</IfModule>
RedirectMatch 301 ^/paslaugos\.html$ /sprendimai
RedirectMatch 301 ^/apsvietimas\.html$ /apsvietimo_technika
RedirectMatch 301 ^/garsas\.html$ /igarsinimo_technika
RedirectMatch 301 ^/atlikti-darbai\.html$ /atlikti_darbai
RedirectMatch 301 ^/partneriai\.html$ /musu_draugai
