@mixin letter-space(){
 letter-spacing: 1.5px;
}
@mixin link(){
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
}

@mixin h1(){
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

@mixin title(){
  padding: 160px 0 110px 0;
}
