//@import "../../../node_modules/bootstrap-4-grid/scss/grid";
@import 'fonts';
@import "variables";
@import "mixins";


body, html {
  color: $white;
  font-family: $font;
  //background-color: $gray;
  margin: 0;
  padding: 0;
}

.content {
  background-color: $gray;
  //min-height: 100vh;
}
.offer{
  background-color: $gray;
}
hr{
  margin: 0%;
}


